@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poor+Story&family=Satisfy&family=Source+Serif+Pro:ital,wght@1,300&family=Tangerine&display=swap");

body {
	font-family: "PT Sans", sans-serif;
	font-style: normal;

	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.container {
	height: 100vh;
	display: grid;
	grid-template: 160px 1fr / 200px 1fr;
}

.sideboard {
	color: white;
	display: grid;
	grid-template-rows: 1fr 2fr 4fr;
	grid-row: 1/-1;
	background-color: rgb(85, 144, 209);
}

.header {
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column: 2 / -1;
}

.controls > ul {
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.controls img {
	position: relative;
	left: 50px;
	height: 50px;
	border-radius: 50%;
}

.controls a {
	position: relative;
	left: 75px;
	top: 10px;
	color: black;
	padding-left: 50px;
}

.content {
	background-color: rgb(228, 232, 240);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-area: 2 / 2 / 3 / -1;
	padding-top: 10px;
}

li {
	list-style: none;
}

.info {
	display: grid;
	grid-template: 1fr 2fr / 1fr 4fr;
}

.avatar {
	grid-area: 1 / 1 / 3 / 2;
	padding-left: 40px;
	padding-right: 10px;
}

.welcome-text,
.user-name {
	font-weight: 800;
}

.welcome-text {
	padding-bottom: 2px;
	font-style: italic;
	align-self: end;
	font-size: clamp(12px, 2vw, 20px);
}

.user-name {
	padding-top: 5px;
	position: relative;
	bottom: 12px;
	right: 5px;
	font-style: bold;
	font-size: clamp(12px, 3vw, 30px);
}

.share {
	display: inline-block;
	text-align: start;
}

.share > ul {
	position: relative;
	bottom: 20px;
	right: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.projects {
	grid-area: 1 / 1 / 3 / 2;
}

.project-grid {
	overflow: auto;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	display: grid;
	padding: 5px;
}

.single-project {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	height: 250px;
	margin: 10px;
	background-color: rgb(255, 255, 255);
	border: 1px solid white;
	border-left: 10px solid orange;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.513);
}

.single-project:hover {
	border: 1px solid black;
	border-left: 10px solid rgb(85, 144, 209);
}

.single-project p {
	color: rgb(99, 100, 101);
	flex: 2;
	max-height: 80px;
}

.links {
	margin-top: auto;
	align-self: flex-end;
}

.links ul {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.links ul > li {
	padding: 0px 0px;
}

.trending {
	grid-area: 2 / 2 / 3 / 3;
}

.trending h3,
.projects h3,
.announcements h3 {
	padding: 0px 15px;
	margin: 0px;
}

.trending-news {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin: 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.513);
}

.trend {
	display: grid;
	grid-template: 1fr 1fr / 70px 2fr;
	grid-column: 1 /3;
	padding: 5px;
}

.trend img {
	grid-column: 1/2;
	grid-row: 1/3;
}

.announcements h3 .trend {
	display: grid;
	grid-template: 1fr 1fr / 1fr 2fr;
}

.news {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin: 15px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.513);
}

h4 {
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}

.announcements p {
	color: rgb(99, 100, 101);
	margin: 2px;
	border-bottom: 1px dotted rgb(196, 196, 196);
	padding-bottom: 5px;
}

i {
	padding-right: 20px;
}

button {
	appearance: none;
	padding: 10px 20px;
	color: white;
	background-color: rgb(85, 144, 209);
	border-radius: 20px;
	margin: 10px;
	border: 0px;
}

button:hover {
	background-color: orange;
	border: 1px solid white;
}

input[type="text"] {
	border-radius: 15px;
	width: 60%;
	appearance: none;
	background-color: rgb(228, 232, 240);
	border: 1px;
	padding: 5px 10px;
}

input[type="text"]:focus {
	background-color: rgba(85, 145, 209, 0.111);
}

.avatar img,
.trend img {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border-radius: 50%;
	height: 70px;
}

.tweetname {
	align-self: end;
	justify-self: start;
	padding-left: 10px;
	margin-left: 0px;
}

.message {
	padding-left: 10px;
	color: rgb(99, 100, 101);
}

.logo {
	padding-left: 10px;
	justify-self: center;
	align-self: center;
}

.nav ul {
	grid-template-columns: repeat(6, 1fr) / 1fr 3fr;
	display: grid;
	font-size: 20px;
}

.search {
	padding-left: 20px;
	padding-top: 25px;
}

a {
	appearance: none;
	color: white;
	font-style: none;
	text-decoration: none;
}

li {
	padding: 10px 0px;
}

.nav li:hover,
.nav a:hover {
	color: orange;
}
